<%- include("_head") %>
    <header class="masthead" style="background: url(&quot;assets/img/blog-background.png&quot;) no-repeat;background-size: cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>Blog it out</h1><span class="subheading">A place for writers to share their write-up</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <% articles.forEach(article => { %>
                    <div class="post-preview">
                        <a href="/articles/<%= article.slug %>">
                            <h2 class="post-title"><%= article.title %></h2>
                            <h3 class="post-subtitle"><%= article.description %></h3>
                        </a>
                        <p class="post-meta">
                            Posted by&nbsp;<a href="#"><%= article.name %> on <%= article.createdAt.toLocaleDateString() %></a>
                        </p>
                    </div>
                    <hr>
                <% }) %>
            </div>
        </div>
    </div>
<%- include("_foot") %>